.navBarBody{
    max-width: 1300px !important;
}

.navBarItemCurrent{
    border-bottom: 4px solid orange;
    box-sizing:border-box
   
}

.navBarAvatar:hover{
   outline: 2px solid orange ;
    border-radius: 50%;
    
}

.navBarCart:hover{
   filter:  invert(55%) sepia(52%) saturate(2987%) hue-rotate(359deg) brightness(99%) contrast(108%);
}

.cartAmount{
    font-size: xx-small;
    background-color: orange;
    color: white;
    font-weight: bold;
    width: 17px;
    height: 12px;
    line-height: 12px;
    border-radius: 6px;
    z-index: 2;
    position: relative;
    top:-8px;
    left: -11px;

}