.cartBody {
    position: fixed; 
    z-index: 10; 
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
 
 
  }
  .cartContent {
    position: fixed; 
    z-index: 2; 
    right: 0;
    top: 0;
    overflow: auto; 
    background-color: white;
    margin-top: 130px;
    width: 90vw;
    min-height: 300px;
  }

  .cartButton{
    background-color: hsl(26, 100%, 55%) !important;
    border-color:hsl(26, 100%, 55%) !important;
}
.cartButton:hover{
    background-color: hsl(25, 100%, 70%) !important;
    border-color:hsl(25, 100%, 70%) !important;
    }

  @media only screen and (min-width: 768px) {
    .cartContent {
      margin-top: 80px;
      width: 350px;
    }
  }
  
  

