
.descriptionBody > p:first-of-type{
    color:hsl(26, 100%, 55%);
}
.descriptionText{
    color:hsl(219, 9%, 45%)
}

.descriptionSale{
    background-color: hsl(25, 100%, 94%);
    color:hsl(26, 100%, 55%);
    font-size:medium;
    border-radius: 5px;
}

.descriptionOldPrice{
    color:hsl(220, 14%, 75%);
}
.descriptionBtnGroup {
    width: 130px;
 
}
.descriptionBtnGroup > button, .descriptionBtnGroup > button:disabled{
    background-color: hsl(223, 64%, 96.5%);
    color:hsl(26, 100%, 55%);
    border: none;
    font-weight: bold;
    line-height: 35px;
    font-size: large;
    opacity: 1;
}
.descriptionBtnGroup > button:hover{
    background-color: hsl(223, 64%, 96.5%);
    color:hsl(25, 100%, 84%);
}
.descriptionBtnCart{
    background-color: hsl(26, 100%, 55%) !important;
    border-color:hsl(26, 100%, 55%) !important;
}
.descriptionBtnCart:hover{
    background-color: hsl(25, 100%, 70%) !important;
    border-color:hsl(25, 100%, 70%) !important;
    }
.descriptionBtnCart:disabled{
    background-color: grey !important;
    border-color:grey !important;
    }
    
.logoBtn{
    filter:  brightness(0) invert(1);
}
  
